body {
    margin:0;
    text-align:center;
    font-size:30px;

    }

h1 {
    font-size:7rem; /*when use rem ignore the inheritance font-size from parent and apply only current value 1em=16px*/
    margin:50px auto  0 auto;
    font-family: 'Great Vibes', cursive,sans-serif;
    }

h2 {
    font-size:2.5rem;
    font-weight: normal;
    }

h3 {
    color:#317256;

p{
    line-height:2;
}

    }
.about_me{
    width:30%;
    margin:auto;
}

.contact-message{
    width:40%;
    margin:40px auto 60px;
}


.top-container {
    color:#065535;
    background-color:#539165;
    position:relative;
    padding-top:100px;
    }

.middle-container{
    margin: 50px 0;
    }

.bottom-container{
    background-color:#539165;
    padding: 50px 0 20px 0;
    }

a{
   color:#065535;
   margin: 10px 20px;
   text-decoration:none;

}

a:hover{
   color:white;
}

.copyright{
    color:white;
    font-size:1.5rem;
    padding:20px 0;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:40px;
}
.bottom-cloud{
    position:absolute;
    left:250px;
    bottom:300px;
}

.sun{
 position:relative;


}

.mypic {
    border-radius: 50%;
}

.skill-row{
    text-align:left;
    width: 50%;
    margin:50px auto  50px auto;

}

.skills_img{
    width: 25%;
    float: left;
    margin-right:30px;

}


.ruleta-img{
    width: 30%;
    float: right;
    margin-left:30px;

}

 hr {
        border-style: none;
        border-top-style: dotted;
        border-color: #AFE1AF;
        border-width: 7px;
        width: 3%;
        margin:100px auto;
       }


.btn {
  background: #065535;
  background-image: -webkit-linear-gradient(top, #065535, #065535);
  background-image: -moz-linear-gradient(top, #065535, #065535);
  background-image: -ms-linear-gradient(top, #065535, #065535);
  background-image: -o-linear-gradient(top, #065535, #065535);
  background-image: linear-gradient(to bottom, #065535, #065535);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #539165;
  background-image: -webkit-linear-gradient(top, #539165, #539165);
  background-image: -moz-linear-gradient(top, #539165, #539165);
  background-image: -ms-linear-gradient(top, #539165, #539165);
  background-image: -o-linear-gradient(top, #539165, #539165);
  background-image: linear-gradient(to bottom, #539165, #539165);
  text-decoration: none;
}